# Base de données PostgreSQL
POSTGRES_URL='jdbc:postgresql://localhost:5432/youprono_db'
POSTGRES_USER=''
POSTGRES_PASSWORD=''
POSTGRES_DB='youprono_db'

# MongoDB
MONGO_URI='mongodb://localhost:27017/youprono_conversations'

# Serveur Spring Boot
SERVER_PORT='8080'

# pgAdmin (interface web PostgreSQL)
PGADMIN_EMAIL=''
PGADMIN_PASSWORD=''

# Mongo Express (interface web MongoDB)
MONGO_EXPRESS_USER=''
MONGO_EXPRESS_PASSWORD=''

# API-Sports (clé d'accès et URL basketball)
API_SPORTS_KEY=''
API_SPORTS_BASKETBALL_URL='https://v1.basketball.api-sports.io'

# Planification CRON (format cron Spring : "s m h j M j")
CRON_FETCH_MATCHES='0 0 6 * * *'
CRON_FETCH_TEAMS='0 0 0 1 * *'
