.box {
  max-width: 70% !important;
  margin-left: auto;
  margin-right: auto;
  padding-right: 4em !important;
  padding-left: 4em !important;
}
@media screen and (max-width: 768px) {
  .box {
    max-width: 100% !important;
    margin-left: auto;
    margin-right: auto;
    padding-right: 0.5rem !important;
    padding-left: 0.5rem !important;
  }
}
.mini-logo {
  border-radius: 50%;
  object-fit: contain;
}
